<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
</style>

</head>

<body>
  <div>
    <div>
      <br>
      <br>
      <h3 style="text-align: center"><%= @user_name %> owe RM <%= @user_balance %></h3>
    </div>
  </div>

    <div style="max-width: 700px; margin-left: auto; margin-right: auto;">
    <br>
    <h4 style="text-align: center">PAYMENT</h4>
        <table>
        
        <tr>
            <th>No</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        <% @payments.each.with_index(1) do |p, index| %>
        <tr>
            <td><%= index %></td>
            <td><%= p.amount %></td>
            <td><%= p.updated_at %></td>
        </tr>
        <% end %>
        </table>

    <br>
    <br>
    <br>
    <h4 style="text-align: center">History of borrowing</h4>
        <table>
        
        <tr>
            <th>No</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        <% @debts.each.with_index(1) do |d, index| %>
        <tr>
            <td><%= index %></td>
            <td><%= d.amount %></td>
            <td><%= d.updated_at %></td>
        </tr>
        <% end %>
        </table>
        <br>
        <button href="<%= access_payment_path %>" type="button">back</button>
    </div>
</body>

</html>